.container {
  padding: 1em;
}

h1 {
  margin-bottom: 1.2em;
}

.content {
  position: relative;
  min-height: 5em;

  .profile {
    color: rgba(0, 0, 0, .8);
  }

  dt {
    margin-bottom: 0.2em;
    font-size: 1.4rem;
    text-transform: capitalize;

    &:after {
      content: ': ';
    }
  }

  dd {
    margin-bottom: 1em;
  }
}

footer {
  margin-top: 1.5em;

  ul {
    padding: 0;
  }

  li {
    margin-bottom: .6em;
  }
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  background: hsla(0, 0%, 100%, .6);
}

.error {
  padding: .5em;
  border: solid 1px #e41f0c;
  border-radius: .4em;
  background: #fcfabe;
  color: #e41f0c;

  &::before {
    content: 'Error: '
  }
}

.button {
  border: solid 1px rgba(0, 0, 0, .4);
  border-radius: .3em;
  padding: .5em .8em;
  background: linear-gradient(transparent 50%, rgba(0, 0, 0, .1) 50%);
  text-shadow: 0 1px 0 #fff;
}

.link {
  text-decoration: underline;

  &:after {
    content: ' >';
  }
}
