.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-content {
  flex: 1;
  padding: 1em;
  position: relative;
  overflow: auto;
}

.nav {
  display: flex;
  height: 3.5em;
  border-top: solid 1px rgba(0, 0, 0, .1);

  li {
    height: 100%;
    flex: 1;
    border-right: solid 1px rgba(0, 0, 0, .1);

    &:last-child {
      border: 0;
    }
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  a.active {
    font-weight: 700;
  }
}
